.friends-display-link {
  text-align: center;
  display: block;
  background-color: rgba(214, 215, 216, 0.616);
  padding: 15px 0px;
  margin-bottom: 20px;
}

.friends-display-link i {
  color: rgb(179, 179, 179);
}

.friends-screen {
  margin-left: 20px;
  margin-right: 20px;
}

.friends-screen_channel {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: var(--main-border);
}

.friends-screen_channel-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}
