.badge {
  background-color: tomato;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.find-badge {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  right: -3px;
  top: -3px;
}
